<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>vfff</title>
</head>
<body ng-app="test">
  <div ng-controller="mainCtrl as main">
    <bla on-bla="main.go()"></bla>
  </div>

  <div ng-controller="otherCtrl as other"></div>

  <script src="./node_modules/angular/angular.js"></script>
  <script>
    angular
      .module('test', [])
        .component('bla', {
          bindings: {
            onBla: '&'
          },
          template: 'hi! <br><button ng-click="$ctrl.onBla({a: 44})">CLICK ME</button>'
        })
        .factory('dataf', (() => {
          let _dataf_ = {};
          _dataf_.data = '';
          _dataf_.get = _ => _dataf_.data;
          _dataf_.set = newData => _dataf_.data = newData;
          return _dataf_;
        }))
        .controller('mainCtrl', (dataf => {
          console.log("ctrl")
          this.go = e => {
            console.log("ctrlllll")
            console.log(e)
          }

          setTimeout(_=>{
            dataf.set(8)
          },1500)

          setTimeout(_=> {
            console.log(dataf.get())
          },5000)
        }))
        .controller('otherCtrl', (dataf => {
          setTimeout(_=> {
            console.log(dataf.get())
            dataf.set(56)
          },3000)
        }))


  </script>
</body>
</html>